* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  background-color: white;
  // padding: 1rem;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
svg {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  transition: 300ms ease-in-out;
}
html[class*="is-rooting"] body {
  // filter: grayscale(0.5);
}
body > .loader {
  width: 100%;
  height: 4px;
  background-color: red;
  top: 0;
  left: 0;
  position: fixed;

  transform-origin: left;
  transform: scale(0, 1);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 1000ms, 200ms;
  transition-timing-function: ease-in;
  transition-delay: 10ms;
}

html[class*="is-fetching"] .loader {
  transform: scale(0.75);
  opacity: 1;
}
html[class*="is-animating"] .loader {
  transform: scale(1);
  transition-duration: 200ms;
  transition-delay: 0ms, 200ms;
  transition-timing-function: ease-out;
}
